<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Befriend</display-name>
	
	<filter>
		<filter-name>SprintOpenEntityManagerInViewFilter</filter-name>
		<filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>SprintOpenEntityManagerInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
		
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	
	
	<!-- 在struts2过滤器之后过滤 -->
	
	<!-- 拦截后台超级管理员登入  <url-pattern>/kindeditor/*</url-pattern>-->
	<filter>
		<filter-name>SessionSuperAdminFilter</filter-name>
		<filter-class>com.befriend.filter.SessionSuperAdminFilter</filter-class>
	</filter>
	 <filter-mapping>
	  <filter-name>SessionSuperAdminFilter</filter-name> 
	  <url-pattern>/SuperAdmin/SuperAdmin/*</url-pattern>
	  
		<dispatcher>REQUEST</dispatcher>
		 <dispatcher>FORWARD</dispatcher>
		  <dispatcher>ERROR</dispatcher> 
		<dispatcher>INCLUDE</dispatcher>
		 </filter-mapping> 
		 
		<!-- 拦截后台 论坛超级管理员登入 -->
		 <filter>
		<filter-name>SessionForumAdminFilter</filter-name>
		<filter-class>com.befriend.filter.SessionForumAdminFilter</filter-class>

		
	</filter>
	 <filter-mapping>
	  <filter-name>SessionForumAdminFilter</filter-name> 
	  
	   <url-pattern>/SuperAdmin/AdminForum/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		 <dispatcher>FORWARD</dispatcher>
		  <dispatcher>ERROR</dispatcher> 
		<dispatcher>INCLUDE</dispatcher>
		 </filter-mapping>  
	<!-- 拦截后台 用户论坛管理员登入 -->
		 <filter>
		<filter-name>SessionUserFilter</filter-name>
		<filter-class>com.befriend.filter.SessionUserFilter</filter-class>

		
	</filter>
	 <filter-mapping>
	  <filter-name>SessionUserFilter</filter-name> 
	  
	   <url-pattern>/SuperAdmin/UserAdmin/Forum/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		 <dispatcher>FORWARD</dispatcher>
		  <dispatcher>ERROR</dispatcher> 
		<dispatcher>INCLUDE</dispatcher>
		 </filter-mapping> 
		 
		 <!-- 拦截后台新闻超级管理员登入 -->
	<filter>
		<filter-name>SessionNewsAdminFilter</filter-name>
		<filter-class>com.befriend.filter.SessionNewsAdminFilter</filter-class>
	</filter>
	 <filter-mapping>
	  <filter-name>SessionNewsAdminFilter</filter-name> 
	  <url-pattern>/SuperAdmin/AdminNews/*</url-pattern>
	   <url-pattern>/kindeditor/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		 <dispatcher>FORWARD</dispatcher>
		  <dispatcher>ERROR</dispatcher> 
		<dispatcher>INCLUDE</dispatcher>
		 </filter-mapping> 
		 
		 

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<!--  监听事件-->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!--  TCP监听事件
	<listener>
		<listener-class>com.befriend.listener.InTCP</listener-class>
	</listener>
	-->
	
	<!--  UDP监听事件
	<listener>
		<listener-class>com.befriend.listener.InUDP</listener-class>
	</listener>
	-->
	
	<!--  WechaToken监听事件-->
	<listener>
		<listener-class>com.befriend.listener.WechaToken</listener-class>
	</listener>
	
	
	
<session-config>
<session-timeout>180</session-timeout>
</session-config>




<!-- 404显示404.jsp



 -->
<error-page>
<error-code>404</error-code>
<location>/404.jsp</location>
</error-page>



</web-app>